html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color:#FBF6F0;
    border-bottom: 1px solid #4B626C;
    justify-content: space-between;
    align-items: center;
}
