.cart-flexbox{
    display: flex;
    flex-direction: row;
    height: 197.37px;
}

.cart-gamestexts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    height: 100%;
    padding: 0;
}

.cart-img{
    display: flex;
    width: 150px; 
    aspect-ratio: 190 / 250; 
}

.cart-title{
    font-size: 16px;
    width: 200px;
}

.cart-platform{
    font-size: 12px;
    width: 120px;
    margin-bottom: auto;
}

.cart-price{
    display: flex;
    align-items: end;
    font-size: 24px;
    width: 162px;
    font-weight: 600;
}
