.releases{
    background-color: #FBF6F0;
    width: 100%;
    height: calc(100vh - 101px);
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    font-style: normal;
}

.carousel-space{
    background-color: #FBF6F0;
    width: 100%;
    height: 75vh;
}

.releases-space{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 315px;
    width: 100%;
    background-color: #4B626C;
    text-align: center;
    align-items: center;
}

.release-text{
    display: flex;
    color:#FBF6F0;
    font-size: 28px;
    width: 1200px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
}

.box-images{
    display: flex;
    width: 1200px;
    height: auto;
    justify-content: space-between;
}

.images{
    width: 150px;
    height: auto;
}

.image-container{
    display: flex;
    position: relative;
}

#shopping-cart{
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    color: white;
    font-size: 41px;
    transition: transform 0.3s ease; /* Adiciona a transição suave */
}

#shopping-cart:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone em 10% */
}