.releases{
    background-color: #FBF6F0;
    width: 100%;
    height: calc(100vh - 101px);
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    font-style: normal;
}

.carousel-space{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBF6F0;
    width: 100%;
    height: 75vh;
}

.releases-space{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 315px;
    width: 100%;
    background-color: #4B626C;
    text-align: center;
    align-items: center;
}

.release-text{
    display: flex;
    color:#FBF6F0;
    font-size: 28px;
    width: 1200px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
}

.box-images{
    display: flex;
    width: 1200px;
    height: auto;
    justify-content: space-between;
}

.images{
    width: 150px;
    height: auto;
}

.image-container{
    display: flex;
    position: relative;
}

#shopping-cart{
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    color: white;
    font-size: 41px;
    transition: transform 0.3s ease; /* Adiciona a transição suave */
}

#shopping-cart:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone em 10% */
}

.swiper-images{
    width: 1000px;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.swiper {
    width: 1200px;
    height: 500px;
}

@media (max-width: 1550px) and (min-width: 768px) {
    .swiper {
        height: 300px;
    }
}

.swiper-button-next, .swiper-button-prev {
    --swiper-navigation-size: 60px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: #97A4A2;
}

.swiper-pagination-bullet {
    --swiper-pagination-color: white;
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 20px;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 0.3;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }
