.perfil-jogos{
    width: 70%;
    height: 100%;
    background-color: #4B626C;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogos{
    display: flex;
    flex-direction: column;
    width: auto;
}

.jogos-texto{
    display: flex;
    justify-content: left;
    color: #FBF6F0; 
    font-size: 32px;
}

.jogos-img{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 70px;
    row-gap: 40px;
    justify-content: center;
}

#shopping-cart{
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    color: white;
    font-size: 41px;
    transition: transform 0.3s ease; /* Adiciona a transição suave */
}

#shopping-cart:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone em 10% */
}



